<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.mapper.UserLocationMapper">
  <resultMap id="BaseResultMap" type="com.wx.domain.UserLocation">
    <!--@mbg.generated generated on Sat Apr 06 17:19:12 CST 2019.-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="lng" jdbcType="VARCHAR" property="lng" />
    <result column="lat" jdbcType="VARCHAR" property="lat" />
    <result column="bd09_lng" jdbcType="VARCHAR" property="bd09Lng" />
    <result column="bd09_lat" jdbcType="VARCHAR" property="bd09Lat" />
    <result column="location_cn" jdbcType="VARCHAR" property="locationCN" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, open_id, `lng`, `lat`, bd09_lng, bd09_lat,location_cn, created, updated
  </sql>
  <select id="getLastLocation" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List" />
        FROM user_location
       	order by id desc limit 0,1
  </select>
</mapper>