<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width,user-scalable=no" />
<head>
<meta charset="UTF-8">
<title>分享</title>
<script type="text/javascript" th:src="@{/js/jquery-2.0.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/wechat_share.js}"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>

<style>
.login-container {
	margin: 10px;
	width: 100%;
}

.form-container {
	margin: 0px auto;
	width: 90%;
	text-align: center;
	box-shadow: 1px 1px 10px #888888;
	height: 600px;
	padding: 5px;
}

.title {
	margin-top: 5px;
	font-size: 18px;
	color: #E9686B;
}
</style>
<body>
	<div class="login-container">
		<div class="form-container">
			<p class="title">名片分享</p>
			<img th:src="@{/img/logo.png}" style="width: 90%; height: 500px" />
		</div>
	</div>
</body>

<script th:inline="javascript">
$(function(){
        var serverUrl = [[${serverUrl}]];
	    var title='我的名片';
		var desc='欢迎来咨询';
		var shareUrl = serverUrl+'/authorize';
		var imgUrl=serverUrl+'/img/card.jpg';
		doShare(title,desc,shareUrl,imgUrl);
});
</script>
</html>